<div class="col-xs-12">
    <p>Add new Servers or blueprints!</p>
    <label>Server Name</label>
    <input type="text" class="form-control" [(ngModel)]="newServerName">
    <label>Server Name using local refernce</label>
    <input type="text" class="form-control" #serverNameInput>
    <label>Server Name with @ViewChild</label>
    <input 
      type="text" 
      class="form-control" 
      #serverNameInputWithViewChild>

    <label>Server Content</label>
    <input type="text" class="form-control" [(ngModel)]="newServerContent">
    <br>
    <button
      class="btn btn-primary"
      (click)="onAddServer()">Add Server</button>
    <button
      class="btn btn-primary"
      (click)="onAddBlueprint()">Add Server Blueprint</button>
     <button class="btn btn-primary" (click)="onAddServerWithLogicalReference(serverNameInput)">Add Server name with Logical Reference></button> 

     <button class="btn btn-primary" (click)="OnAddServerWithViewChild()">Server Name with ViewChild</button>
  </div>